
{% extends "index.html" %}


<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About us</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/shop-homepage.css" rel="stylesheet">
  {% endblock %}
</head>

<body>
  {% block nav %}
  {{ super() }}
  {% endblock %}

  {% block content %}
  <!-- Page Content -->
  <div class="container">
    <hr>
    <div class="row">
       <div class="col-md-7">
         <a href="#">
           <img class="img-fluid rounded mb-3 mb-md-0" src="static/images/Alipio2.png" alt="">
         </a>
       </div>
       <div class="col-md-5">
         <h3>Alípio M. Jorge</h3>
         <p class="card-text" style="text-align: justify;">Alípio M. Jorge is an associate professor at the Department of Computer Science of the Faculty of Science of the U. Porto and the coordinator of LIAAD/INESC TEC - INESC Technology and the Artificial Intelligence and Decision Support Lab of U. Porto since 2012. He is PhD in Computer Science by U. Porto. His research interests are Data Mining and Machine Learning, in particular association rules, web intelligence and recommender systems. He lectures on information processing and data mining. He launched the MSc. on Data Analysis and Decision Support Systems, which he coordinated from 2000 to April 2008. He leads research projects on data mining and web intelligence. He co-chaired international conferences (Discovery Science 2009, ECML/PKDD 15 and EPIA 01), workshops and seminars in data mining and artificial intelligence. He was Vice-President of the Portuguese Association for Artificial Intelligence.</p>
         <a class="btn btn-outline-dark" href="http://www.dcc.fc.up.pt/~amjorge">See More</a>
       </div>
     </div>
     <!-- /.row -->

     <hr>

     <!-- Project Two -->
     <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/images/cnrocha.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Conceição Rocha</h3>
          <p class="card-text" style="text-align: justify;">Conceição Rocha is a researcher at CPES (Power and Energy Systems), which is a R&D Centre of the INESC-TEC. Her research focus are Artificial Intelligence, modelling and statistical analysis, renewable production, distributed energy.
            <a class="btn btn-outline-dark" href="https://cnrocha.weebly.com/">See More</a>
        </div>
      </div>
     <!-- /.row -->

     <hr>
     <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/images/arian2.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Arian Pasquali</h3>
          <p class="card-text" style="text-align: justify;">Arian Pasquali is a researcher associated to University of Porto and the Artificial Intelligence and Decision Support Laboratory at INESC TEC - INESC Technology. He has MSc in Computer Science by University of Porto with specialization in data mining. He has published research in the fields of IR, having been awarded the best short paper award at ECIR'18 (40th International Conference on Information Retrieval). He has also been awarded the 1st prize of the Arquivo.pt Award in 2018 for his project Conta-me Histórias (http://contamehistorias. pt), a project in the field of temporal summarization and web archives. Currently his research interests involve machine learning applied to text mining, in particular information retrieval and natural language processing.
            </p>
          <a class="btn btn-outline-dark" href="http://www.dcc.fc.up.pt/~apasquali">See More</a>
        </div>
      </div>
      <hr>

          </div>
          <!-- /.row -->
    <!-- /.container -->
    {% endblock %}
    {% block footer %}
    {{ super() }}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  </html>
