{% set dict_var = {
 'text1': "Todos os anos milhares de turistas visitam a praia de Copacabana no Rio de Janeiro. Além da bela paisagem, o local tem a presença de vendedores ambulantes, que fornecem uma grande variedade de produtos enquanto os banhistas aproveitam o dia.",
 'text2': 'João e Pedro eram os nomes dos amigos de Lucas. Os três subiram na árvore para pegar algumas frutas, mas não conseguiram chegar até o alto da jaqueira. Um fazendeiro que morava perto do acampamento resolveu ajudar os jovens e trouxe uma escada para que alcançassem as jacas. ',
 'text3':'Algum tempo depois, outros colegas de Rubens tiveram a ideia de organizar uma página numa conhecida rede social onde toda a comunidade teria acesso às informações. A página teve um grande número de acessos.'
  }
 %}

{% extends "index.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
<br>
<form method="post" action="{{ url_for('EntityExtraction') }}">
  <div class="form-group">
    <select name="comp_select" class="form-control" id="exampleFormControlSelect1">
      <option value="Choose a text">Choose a text</option>
      {% for key, value in dict_var.items() %}
      <option value="{{value}}" >{{key}}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-outline-dark">Submit a demo text</button>
    {% if post1 %}
      <br>
      <textarea name="" class="form-control" id="exampleFormControlTextarea1" rows="3">{{original1}}</textarea>
    {% endif %}
  </div>
  <br>
  <div class="form-group">
    {% if not post_done %}
    <textarea name="area_text" class="form-control" id="exampleFormControlTextarea1" rows="3">Write your text here</textarea>
    {% else %}
    <textarea name="area_text" class="form-control" id="exampleFormControlTextarea1" rows="3">{{original2}}</textarea>
    {% endif %}
    <button type="submit" class="btn btn-outline-dark">Submit your own text</button>
  </div>
</form>

{% if post_done %}
<div class="row">
{% if select1 %}
 <div class="col-md-6 mb-5">
   <div class="card h-100">
     <div class="card-body">
       <h2 class="card-title">Result for the demo text</h2>
       <p class="card-text" style="text-align: justify;">{{select1}}</p>
     </div>
   </div>
 </div>
 {% endif %}
 {% if select2 %}
 <div class="col-md-6 mb-5">
   <div class="card h-100">
     <div class="card-body">
       <h2 class="card-title">Result for your text</h2>
       <p class="card-text" style="text-align: justify;">{{select2}}</p>
     </div>
   </div>
 </div>
 {% endif %}

</div>

{% endif %}

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
